.contact-form {
  border: 2px solid #111;
  border-radius: 5px;
  margin: 7px;
  padding: 15px 10px 15px 10px;
  width: 330px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.button-add-contact {
  width: 100px;
  padding: 5px;
}

.error-message-form {
  color: red;
}
